@model IEnumerable<StarWars.ViewModels.Director>
@{
    ViewData["Title"] = "Directors";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DirectorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Born)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Born)
            </td>
        </tr>
    }
</table>